#color {
    width: 350px;        /* Full width of the container */
    height: 50px;      /* Increase the height to make it bigger */
    background-color: #ffff;
    border: 1px solid #666;
    padding: 20px;      /* Add more padding for better spacing */
    margin-bottom: 10px;
    color: #fff;   
}

#brown {
    width: 150px;
    height: 50px;
    padding: 20px; 
    right: 200px;
    text-align: center;
    margin-left:50px;
}

#hover {
    width: 150px;        /* Full width of the container */
    height: 50px;      /* Increase the height to make it bigger */
    background-color: #ffff;
    border: 1px solid #666;
    padding: 100px;      /* Add more padding for better spacing */
    margin-bottom: 10px;
    color: black;
    
}

#time {
    margin-bottom: 20px;
}

#Ctime {
    font-size: 1.5em;
    padding: 10px;
    background-color: #fff;
    color: #000;
    width: 100%;
    text-align: center;
}