/*----CSS Demo----*/


/*----Box Sizing----*/

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/*----Responsive images----*/

img{
  max-width:100%;
}

  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

.container{
  max-width:950px;
  width:80vw;
  margin:40px auto;
}

.img-right{
  float:right;
  margin: 10px 0 10px 20px;
  border:2px dotted grey;
  padding:5px;
  border-radius: 1rem;
}

.img-left{
  float:left;
  margin: 10px 20px 10px 0;
  border:2px dotted grey;
  padding:5px;
  border-radius: 1rem;
}


  /*----Global Styles----*/

  body{
    font-family: 'Courier New', Courier, monospace;
  }


  header.primary {
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.8'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-color:purple;
    color:#ffffff; 
    text-align:center;  
    text-shadow:2px 2px #000000;
    padding-top:40px; 
    padding-right:40px;
    padding-left: 40px;
    padding-bottom: 40px;
    /*Single value short hand*/  
    padding:40px;  
/* T,R,B,L */
    padding: 20px 40px 20px 40px;  
/* Two Value Top/Bottom / L/R */
    padding: 20px 40px;  
}

header.primary h1 {
  font-size: 2.4rem;
}

header.primary h1{
background: purple; 
text-decoration:none;
}

header.primary h2{
  background:purple; 
}

header.primary h2 {
  margin:0;
  font-size: .9rem;
}

header.primary nav{ 
  margin: 2px auto;
}

header.primary ul{ 
  padding:0px;
  display:flex;
  flex-direction: row;
  justify-content:space-around;
}

header.primary ul li{ 
  list-style-type: none;
}

header.primary nav a{ 
  color: #ffffff;
  text-decoration: none;
  background-color: darkgray;
  background-color:rbga(0,0,0, .4); 
  padding-top: 5px 10px;
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  transition: 1ms;


}

header.primary nav a:hover{ 
  background-color:rgba(0,0,0, .9);
}

@media screen and (max-width: 600px){
  header.primary ul{                                       /*---making it mobile friendly---*/
  flex-direction: column;
  gap:20px;
  max-width: 250px;
  margin:auto;

}

header.primary nav a {
  display:block;
}
}

#content h2{
  color:purple;
  border-bottom:3px dotted grey;
}

#content h3{
  color: black;
  border-left: 7px solid black;
  padding:7.5px;
}

#blog{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap:2rem;
  border-bottom:1px dotted #c0c0c0;
  padding: 2rem 0;
  border-top:1px dotted #c0c0c0;

}

#blog .post{
  box-shadow: 0 4px 8px rgba(0,0,0,.6);
  padding: 40px;
  border-radius:4px;
  font-size:.8rem;
  transition:.5s;
}

#blog figure{
  margin:0;
}

#blog figcaption{
  text-transform:uppercase;
  font-size:.6rem;
  text-align:center;
  color:#c0c0c0;
}

#blog header{
  padding-top:10px;
  font-size:.6rem;
  color:#c0c0c0;
}

#blog header h2{
  margin:0;
}

#blog a{
  color:#3b638b;
}

#blog .post:hover{
  box-shadow: 0 8px 16px rgba(0,0,0,.6);
}

#practice h2{
  color:purple;
  border-bottom:3px dotted grey;
}

table{
  border:1px solid grey;
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}
caption{
  font-weight: bold;
  margin:50px;
}
th{
  background-color: darkorchid;
  color:white;
  padding:7.5px
}
tr:nth-child(even){
  background-color: lightgrey;
}

tr:hover{
  background-color: rgba(0,0,0, .4);
}

td{
  border:2px solid grey;
  padding:6px;
}

td:nth-child(n+2){ 
  text-align: right;
}

#practice ol{
  list-style-type:lower-decimal;
}

#practice ul ul{
  list-style-type: square;
}

#practice dl dt{
  font-weight: bold;
}

#practice dl dd{
  margin:0;
}

dd+dt{
  margin-top: 1rem;
}

#practice blockquote{
  border:4x double;
  padding: 20px 40px;
  margin: 40px 80px; 
  border-radius: 10px;
  background-color:purple;
  text-shadow: grey;
  text-decoration: none;
  line-height: 1.4;
  color: #ffffff
}

#practice blockquote{
  display:block;
  text-align:right;
  font-size: .9rem;
  margin-top: 1rem;
}

#practice blockquote cite{
  text-decoration: underline;
  font-weight:bold;
}


aside[role="complementary"]{
  background-color: #172635;
  color:#ffffff;
  padding:1.25rem;
}

aside .container{
  display:flex;
  flex-direction: row;
  gap:50px;
  justify-content: center;
}

aside .container a{
display:block;
color:white;
text-align:right;
margin-top: 1rem;
}

aside .widget footer{ 
  display:none;
}

#colophon{
  background-color: #3b638b;
  text-align: center;
  padding:10px;
  color:white;
  font-size: 1.1rem;
}


