/*----CSS Demo----*/


/*----Box Sizing----*/

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/*----Responsive images----*/

img{
  max-width:100%;
}

  /*----utility Classes----*/

.container{
  max-width:950px;
  width:80vw;
  margin:40px auto;
}

  /*----Global Styles----*/

  body{
    font-family: 'Courier New', Courier, monospace;
  }


  header.primary {
    background-color:purple;
    color:#ffffff; 
    text-align:center;  
    text-shadow:2px 2px #000000;
    padding-top:40px; 
    padding-right:40px;
    padding-left: 40px;
    padding-bottom: 40px;
    /*Single value short hand*/  
    padding:40px;  
/* T,R,B,L */
    padding: 20px 40px 20px 40px;  
/* Two Value Top/Bottom / L/R */
    padding: 20px 40px;  
}

header.primary h1 {
  font-size: 2.4rem;
}

header.primary h1{
background: purple; 
text-decoration:none;
}

header.primary h2{
  background:purple; 
}

header.primary h2 {
  margin:0;
  font-size: .9rem;
}

header.primary nav{ 
  margin: 2px auto;
}

header.primary ul{ 
  padding:0px;
  display:flex;
  flex-direction: row;
  justify-content:space-around;
}

header.primary ul li{ 
  list-style-type: none;
}

header.primary nav a{ 
  color: #ffffff;
  text-decoration: none;
  background-color: #000000;
  background-color:rbga(0,0,0, .4); 
  padding-top: 5px 10px;
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  transition: 4s;


}

header.primary nav:hover{ 
  background-color:rgba(0,0,0, .4);
}

@media screen and (max-width: 600px){
  header.primary ul{                                       /*---making it mobile friendly---*/
  flex-direction: column;
  gap:20px;
  max-width: 250px;
  margin:auto;

}

header.primary nav a {
  display:block;
}
}

#content h2{
  color:purple;
  border-bottom:3px dotted grey;
}

#content h3{
  color: black;
  border-left: 7px solid black;
  padding:7.5px;
}

#blog{ 
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap:2row;
}

#blog .post{
box-shadow: 0 10px 16px black;
padding: 12px;
border-radius: 4px;
font-size: .8rem;
transition:.5%;
}

#blog figure{
  margin:0;
}

#blog figcaption{
  text-transform:uppercase;
  font-size: .6rem;
  text-align:center;
  color:grey;
}

#blog header{
  padding-top:10px;
  font-size: .6rem;
}

#blog header h2{margin:0px;
}

#blog h2 a{
  color:purple;
}

#blog .post:hover{
  box-shadow: 0 8px 16 black;
  }
  
