/*----CSS Demo----*/


/*----Box Sizing----*/

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/*----Global Styles----*/

  body{
    font-family: "Lora", serif;
  }


  header.primary{
    background-color: red;
    text-align:center; 
    text-shadow: 2px 2px; #fffff
  }

